<div class="todo-list__item">
  <h5 class="todo-list__item-name">{{todo.text}}</h5>

  <p class="todo-list__item-status"
     [appHighlightStatus]="todo.status | camelcase"
     highlightType="status">
    {{todo.status | titlecase}}
  </p>

  <p class="todo-list__item-severity">
    <span class="todo-list__item-severity--mark"
          [appHighlightStatus]="todo.severity | lowercase"
          highlightType="severity">
    </span>
    {{todo.severity | titlecase}}
  </p>

  <p class="todo-list__item-deadline">
    {{todo.deadline | date}}
  </p>


  <div class="todo-list__actions--wrap">
    <button class="todo-list__actions-btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="#fff" d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"/>
      </svg>
    </button>

    <ul class="todo-list__actions-list">
      <li [routerLink]="['/edit-todo', todo.id]" class="todo-list__actions-item">
        Edit
      </li>
      <li (click)="removeTodo(todo.id)" class="todo-list__actions-item">
        Delete
      </li>
    </ul>
  </div>
</div>
