.todo-list {
  &__item {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 6fr 2fr 1fr 2fr 1fr;

    &-name {
      color: var(--dark-color);
      font-family: var(--secondary-font);
      font-size: 14px;
      line-height: 17px;
      margin: 15px 0;

      &::before {
        background-color: var(--primary-color);
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 6px;
        margin-right: 10px;
        outline: 1px solid var(--primary-color);
        outline-offset: 2px;
        vertical-align: middle;
        width: 6px;
      }
    }

    &-status {
      border-radius: 8.5px;
      font-family: var(--secondary-font);
      font-size: 11px;
      letter-spacing: -0.0677px;
      line-height: 18px;
      margin-bottom: 0;
      text-align: center;
    }

    &-severity {
      color: var(--dark-color);
      font-family: var(--secondary-font);
      font-size: 12px;
      line-height: 15px;

      &--mark {
        border: 2px solid var(--dark-color);
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
      }
    }
  }

  &__actions {
    $a: &;

    &--wrap {
      position: relative;
      width: 25px;

      &:hover {
        #{$a}-list {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-btn {
      background-color: var(--grey-color);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      margin: auto;
      width: 20px;
    }

    &-list {
      background-color: var(--light-color);
      border: 1px solid var(--primary-color);
      border-radius: 6px;
      box-shadow: 0 5px 15px rgba(0 0 0 / 50%);
      left: 50%;
      list-style: none;
      opacity: 0;
      padding: 7px;
      position: absolute;
      text-align: center;
      top: 100%;
      transform: translateX(-50%);
      transition: opacity 0.3s;
      visibility: hidden;
      width: 80px;
      z-index: 1;

      &::before {
        background-color: var( --light-color);
        border-left: 1px solid var(--primary-color);
        border-top: 1px solid var(--primary-color);
        content: "";
        display: block;
        height: 6px;
        left: calc(50% - 2px);
        position: absolute;
        top: -2px;
        transform: rotate(45deg) translateX(-50%);
        width: 6px;
      }
    }

    &-item {
      color: #7D859A;
      cursor: pointer;
      font-family: var(--secondary-font);
      font-size: 14px;
      font-weight: 500;
      padding: 3px 0;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
