.search-form {
  align-items: center;
  display: flex;
  position: relative;

  &::after {
    background-color: var(--primary-color);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.5s ease-in-out;
    width: 0;
  }

  &:focus-within {
    &::after {
      transition: width 0.5s ease-in-out;
      width: 100%;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
  }

  &__input {
    border: none;
    transition: width 0.5s ease-in-out;
    width: 150px;

    &:focus {
      outline: none;
      transition: width 0.5s ease-in-out;
      width: 100%;
    }
  }
}
