:host {
  width: 100%;
}

.todo-root {
  background-color: var(--light-color);
  border-radius: 30px;
  box-shadow: 0 4px 40px #8CA4D8;
  box-sizing: border-box;
  min-width: 992px;
  padding: 40px 60px;
  width: 100%;
}
