@import "mixins";

.todo-form {
  &__title {
    font-size: 36px;
    line-height: 54px;
    color: var(--dark-color);
    margin: 10px 0;
  }

  &__group {
    margin-bottom: 10px;

    &-label {
      display: block;
      font-family: var(--secondary-font);
      font-size: 16px;
      line-height: 27px;
      color: var(--dark-color);
    }

    &-input, &-select {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid var(--grey-color);
      transition: border-bottom-color 0.5s;
      padding: 7px 12px 7px 0;

      &:focus {
        outline: none;
        border-bottom-color: var(--secondary-color);
        transition: border-bottom-color 0.5s;
      }
    }
  }

  &__submit {
    &-btn {
      @include button-mixin;
    }
  }
}
