.todo-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li + li::before {
    background-color: var(--grey-color);
    content: '';
    display: block;
    height: 1px;
    width: 100%;
  }
}
